@use "./modules/topbar.scss";
@use "./modules/volume-display.scss";
@use "./variables.scss" as *;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 11pt;
    color: $primary-text-color;
}
