$background-primary: #161617;
$background-primary-alt: #242424;
$background-secondary: #2a2a2d;
$background-secondary-alt: #3e3e42;
$primary-text-color: #c9c7cd;
$blue: #aca1cf;
$purple: #e29eca;
$padding-0: 4px;
$padding-1: 8px;
$padding-2: 12px;
$padding-3: 16px;
