/*
/hypr/*
/fastfetch/*

# included
!.gitignore
!/README.md

!/hypr/
!/hypr/scripts/
!/hypr/scripts/**
!/hypr/*.conf

!/eww/
!/eww/**
/eww/old

!/fastfetch/
!/fastfetch/config.jsonc

!/alacritty/
!/kitty/
!/dunst/
!/nvim/
!/wofi/
!/tofi/
