@use "../variables" as *;

.topbar {
    tooltip {
        &.background {
            background-color: rgba($background-color, 0.9);
        }
    }

    &.background {
        background: none;
    }

    &.bar {
        background-color: $background-color;
        padding-left: $padding-1;
    }

    .logo {
        all: unset;
        padding-right: 8px; // HACK: Fixes bounding box not being correct

        &:hover > label {
            color: $blue;
        }
    }

    .workspace-dot {
        &.active {
            color: $blue;
        }
    }

    .audio-indicator {
        .divider {
            color: $primary-text-color;
            margin-left: $padding-1;
        }

        .icon {
            color: $primary-text-color;
            margin-right: 8px; // HACK: Fixes bounding box not being correct
        }

        .icon-alt {
            color: $primary-text-color;
            font-size: 13pt; // HACK: Attempts to make unusually small icon look less out of place
        }

        .percentage {
            color: $primary-text-color;
        }
    }

    .time {
        .text {
            padding-right: $padding-1;
            padding-left: $padding-0;
            color: $background-color;
            background: $blue;
        }

        .divider {
            color: $blue;
            background: $purple;
        }
    }

    .date {
        padding-left: $padding-1;

        .text {
            padding: 0 $padding-1;
            color: $background-color;
            background: $purple;
        }

        .divider {
            color: $purple;
            background: $background-color;
        }
    }
}
