@use "../variables.scss" as *;

.volume-display {
    background: $background-color;
    padding: 0 $padding-1;

    &.background {
        background: none;
    }

    .icon {
        color: $primary-text-color;
        margin-right: 8px; // HACK: Fixes bounding box not being correct
    }

    .level {
        * {
            min-height: 6px;
            border-radius: 7px;
        }

        & > trough {
            background: $background-color-alt;
        }

        &.SINK {
            progress {
                background: $blue;
            }
        }

        &.SOURCE {
            progress {
                background: $purple;
            }
        }
    }

    .percentage {
        color: $primary-text-color;
    }
}
